<!DOCTYPE html>
<html>
<head>
	<title>BrittBot</title>
	<!-- Bootstrap --> 
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
  	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  	<link href="{{ STATIC_URL }}css/brittbot.css" rel="stylesheet" media="screen">

  	<!-- Script for dynamically displaying email --> 
  	<script>
		function displayMessage()
		{
		document.getElementById("message").innerHTML="test";}
	</script>
</head>

<body>
	<h3>BrittBot Intro Machine</h3>
	{% if error %}
		<p class="text-danger">
			{{ error }}
		</p>
	{% endif %}
	{% if sent %}
		<p class="text-success">
			Initial email has been sent to {{ sent }}
		</p>
	{% endif %}

		<form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
			<div class="form-group">
				{% for error in form.to_name.errors %}
					<p class="text-error">{{ error }}</p>
				{% endfor %}
		  		<label for="to_name" class="col-lg-2 control-label">To</label>
		    	<div class="col-lg-4">
		    		{{ form.to_name }}
		      		<input type="text" class="form-control" name="to_name" placeholder="Person to intro to">
		    	</div>
		  	</div>
		  	<div class="form-group">
		  		{% for error in form.to_email.errors %}
					<p class="text-error">{{ error }}</p>
				{% endfor %}
		  		<label for="to_email" class="col-lg-2 control-label">Email</label>
		    	<div class="col-lg-4">
		    		{{ form.to_email }}
		      		<input type="text" class="form-control" name="to_email" placeholder="Email">
		    	</div>
		  	</div>
		  	<div class="form-group">
		  		{% for error in form.for_name.errors %}
					<p class="text-error">{{ error }}</p>
				{% endfor %}
		  		<label for="for_name" class="col-lg-2 control-label">For</label>
		    	<div class="col-lg-4">
		    		{{ form.for_name }}
		      		<input type="text" class="form-control" name="for_name" placeholder="Person who wants to be introed">
		    	</div>
		  	</div>
		  	<div class="form-group">
		  		{% for error in form.for_email.errors %}
					<p class="text-error">{{ error }}</p>
				{% endfor %}
		  		<label for="for_email" class="col-lg-2 control-label">Email</label>
		    	<div class="col-lg-4">
		    		{{ form.for_email }}
		      		<input type="text" class="form-control" name="for_email" placeholder="Email">
		    	</div>
		  	</div>
		  	<div class="form-group">
		  		{% for error in form.purpose.errors %}
					<p class="text-error">{{ error }}</p>
				{% endfor %}
		  		<label for="purpose" class="col-lg-2 control-label">Purpose</label>
		    	<div class="col-lg-4">
		    		{{ form.purpose }}
		      		<textarea class="form-control" name="purpose" rows="4" placeholder="Why he/she wants to connect"></textarea>
		    	</div>
		  	</div>

		  	<div class="form-group">
		    	<div class="col-lg-offset-2 col-lg-10">
		      		<button type="submit" class="btn btn-primary">Send</button>
		    	</div>
		  	</div>
		</form>



		<div class="control-group">
				
				<label class="control-label">Name</label>
				<div class="controls">
			  		{{ form.name }}
				</div>
			</div>

		<p id="message">
			Hi, </br> wants to meet with you to discuss. </br> If you're open to the connection please <a href=>click here</a>. This will automatically generate an email from brittany@usv.com to connect the two of you. Thanks! </br>
		</p>

		<button class="btn btn-info" onclick="displayMessage()">Preview Email</button>


		

</body>
</html>



