<!DOCTYPE html>
<html>
<head>
	<title>BrittBot</title>
	<!-- Bootstrap --> 
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
  	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  	<link href="{{ STATIC_URL }}css/brittbot.css" rel="stylesheet" media="screen">
</head>

<body>
	<h1>Auto-Intro</h1>

	<form class="form-horizontal" method="post" action="">{% csrf_token %}
		<p>
			Hi 
			<input name="to" type="text" class="form-control" placeholder="Name of Person">, </br>
			<input name="for" type="text" class="form-control" placeholder="Name of Person"> wants to meet with you to discuss
			<textarea class="form-control" rows="3"></textarea>. 
			If you're open to the connection please <a href="#">click here</a>. 
			This will automatically generate an email from brittany@usv.com to connect the two of you. Thanks!

			If someone else should take this, please insert their name
			<input type="text" class="form-control" placeholder="Name of Person">
			and email 
			<input type="text" class="form-control" placeholder="Name of Person">.
		</p>
		<button type="submit" class="btn btn-primary">Send</button>
	</form>

</body>
</html>



